* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  padding: 1rem;
}

p {
  font-family: sans-serif;
}

.product {
  background: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 50ch;
}

/* Notice we can apply the same declaration to multiple selectors with `,` */
.product .name,
.product .description,
.product .price {
  margin-bottom: 0.5rem;
}

/*
  While `.price` would suffice for this particular workshop,
  adding `.product` in front ensures that we never have to worry about
  accidentally styling a non-product-related price in a
  hypothetical future project that builds on this codebase.
*/
.product .price {
  font-family: serif;
  font-size: 2rem;
  color: green;
}

.product .price s {
  font-size: 1rem;
  color: #6a6a6a;
}

.product .add_to_cart {
  background: #3f7d42;
  color: white;

  border: 0;
  border-radius: 0.5rem;
  padding: 1.5ch;
  width: 100%;
}

/* The :hover pseudoclass only applies when a user hovers over the element */
.product .add_to_cart:hover {
  cursor: pointer;
  background: #296957;
}